:root{
  --light-red:rgb(223, 100, 123);
  --bg-body: #f5f2fd;
  --logo-text-color: #2c1d4f;
  --hover-text-yellow: #f7d077;
  --grey-color: #565454;
  --sign-up-btn-color: #6941d3;
}

body{
  background-color: #f5f2fd;
}

.logo{
  width: 70px;
}

.logo-title{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo-title h4{
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Concert One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  letter-spacing: .01em;
  color: #2c1d4f;
}

.navbar{
  background-color: transparent !important;
  position: fixed !important;
  width: 100vw !important;
}

.nav-link {
  text-decoration: none; 
  position: relative; 
  display: inline-block; 
  font-family: sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #565454;
  cursor: pointer;
  opacity: 1;
  letter-spacing: .05em;
}

.nav-link:hover{
  color: #f7d077;
  transition: none; 
}

.underline-li:hover::after {
  content: ""; 
  display: block; 
  position: absolute; 
  bottom: -0px; 
  left: 0; 
  width: 100%; 
  height: 4px; 
  background-color: #f7d077;
}

.signing-up a{
  color: ghostwhite;
  font-family: sans-serif;
  font-weight: bold;
}

.navbar-nav .nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

main{
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1{
  font-size: 5rem;
  margin: 0;
  font-weight: 700;
}

h2{
  font-size: 4.5rem;
  color: var(--light-red);
  margin: 0;
  font-weight: 700;
}

main p{
  font-size: 1.1rem;
  max-width: 550px;
  margin: 0 auto;
  text-align: center;
}

.sign-up{
  background-color: transparent;
  border: none;
  border-radius: 20px;
  padding: 10px 70px;
  background-color: #6941d3;
  color: white;
  font-weight: bold;
}

.sign-in{
  background-color: transparent;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px 70px;

}