:root{
  --level-color: rgba(241, 176, 176, 0.288);
}

body{
  overflow-x: hidden;
}

.lesson-wrapper{
  min-height: 100vh;
  display: flex;
  width: 100vw;
}

.lesson-plan{
  display: flex;
  flex-wrap: wrap;


  /* add the margin left when there is a sidebar
  margin-left: 260px; */
  /* add the padding left and right when there is a sidebar
  padding: 150px 30px; */

  justify-content: center;
  padding-top: 150px;
  padding-bottom: 30px;
  gap: 30px;
}

.plan{
  max-width: 290px;
  min-height: 500px;
  background-color: ghostwhite;
  border: 1px solid rgba(0, 0, 0, 0.445);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 4px;
  position: relative;
}

.plan:hover{
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.288);
  transition: .1s ease;
}

.coverImage{
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
}

.title{
  text-align: center;
  font-weight: bold;
}

.level{
  font-weight: 800;
  padding: 5px;
  text-align: center;
  color: rgba(0, 0, 0, 0.795);
  background-color: rgba(235, 61, 61, 0.288);
  letter-spacing: .03em;
  /* font-family: sans-serif; */
}

.plan-lock{
  width: 20px;
  object-fit: contain;
}

.btn-holder{
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 260px;
  position: absolute;
  bottom: 15px;
  align-items: center;
}

.plan-btn{
  border: none;
  background-color: ghostwhite;
  border-radius: 50px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.733);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.233);
  padding: 4px 20px;
}

.plan-btn:hover{
  background-color: rgb(240, 238, 238);
}

.lesson-link{
  text-decoration: none;
  color: black;
}

.lesson-btns{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  margin-bottom: 20px;
}

#prevButton, #nextButton{
  padding: 10px 30px;
  font-weight: 200;
  background-color: transparent;
  border: 2px solid rgb(78, 77, 77);
  font-family:Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: rgb(54, 54, 54);
}

#prevButton:hover, #nextButton:hover{
  background-color: rgba(177, 176, 176, 0.11);
}

#paginationContainer button{
  background-color: transparent;
  border: none;
  font-size: 1.3rem;
}

#paginationContainer{
  gap: 5px;
  display: flex;
}

@media (max-width: 1000px){
  #paginationContainer{
    gap: 0px;
  }

  .lesson-btns{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin-bottom: 20px;
  }
}

/* loading animation */

.worksheetLoad{
  background: linear-gradient(0.25turn, transparent, #fff, transparent),
    linear-gradient(#eee, #eee),
    radial-gradient(38px circle at 19px 19px, #eee 50%, transparent 51%),
    linear-gradient(#eee, #eee);
  background-repeat: no-repeat;
  background-position: -315px 0, 0 0, 0px 190px, 50px 195px;
  animation: loading 1.5s infinite;
  height: 150px;
  box-shadow: none;
}

@keyframes loading {
  to {
    background-position: 315px 0, 0 0, 0 190px, 50px 195px;
  }
}

.textLoad {
  background: linear-gradient(0.25turn, transparent, #fff, transparent),
    linear-gradient(#eee, #eee),
    radial-gradient(38px circle at 19px 19px, #eee 50%, transparent 51%),
    linear-gradient(#eee, #eee);
  background-repeat: no-repeat;
  background-position: -315px 0, 0 0, 0px 190px, 50px 195px;
  animation: textLoad 1.5s infinite;
  color: transparent;
  display: inline-block; 
  border-radius: 4px;
  padding: 3px;
  margin-top: 0px;
}

@keyframes textLoad {
  to {
    background-position: 315px 0, 0 0, 0 190px, 50px 195px;
  }
}

.linkLoad{
  border: none;
}

.icon-parent{
  min-width: 20px;
}


.plan-lock{
  width: 20px;
  object-fit: contain;
}

.hide-icon{
  display: none;
}

.iconLoad {
  background: linear-gradient(0.25turn, transparent, #fff, transparent),
    linear-gradient(#eee, #eee),
    radial-gradient(38px circle at 19px 19px, #eee 50%, transparent 51%),
    linear-gradient(#eee, #eee);
  background-repeat: no-repeat;
  background-position: -315px 0, 0 0, 0px 190px, 50px 195px;
  animation: iconLoad 1.5s infinite;
  display: inline-block; 
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin-top: 0px;
}


@keyframes iconLoad {
  to {
    background-position: 315px 0, 0 0, 0 190px, 50px 195px;
  }
}


@media (max-height: 700px){

  .plan{
    zoom: 0.8
  }
  
}