.navbar{
  min-height: 90px;
  background-color: ghostwhite;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.493);
  z-index: 9999;
  width: 100%;
  position: fixed;
}

.nav-link{
  font-weight: 600;
}

.nav-item{
  margin-right: 10px;
  /* remove the margin on mobile */
}

.nav-icon{
  width: 20px;
  height: 20px;
}

.nav-logo{
  height: 45px;
}

.dropdown{
  text-align: center;
}

.dropdown-item{
  display: flex;
  gap: 10px;
  font-weight: bold;
  color: rgba(0, 0, 0, .55);
  font-family: Arial, Helvetica, sans-serif;
  
  /* justify-content: start; */

}

.dropdown .btn{
  font-weight: 600;
  letter-spacing: .05em;
  font-family: Arial, Helvetica, sans-serif;
  color: ghostwhite;
}

.btn-success, .btn-danger{
  font-weight: bold;
  letter-spacing: .05em;
  font-family: Arial, Helvetica, sans-serif;
}

@media(max-width: 1200px){
  .nav-item{
    text-align: center;
  }
}  
