.navbar{
  min-height: 90px;
  background-color: ghostwhite;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.493);
  z-index: 9999;
  width: 100%;
  position: fixed;
}

.signInTab{
  display: flex;
  align-items: center;
  margin-left: 10px;
  padding: 5px;
  border-radius: 4px;
  border: 2px solid rgb(37, 37, 37);
  background-color: antiquewhite;
}

.nav-link{
  font-weight: 600;
}

.nav-item{
  margin-right: 10px;
  /* remove the margin on mobile */
}

.nav-icon{
  width: 20px;
  height: 20px;
}

.nav-logo{
  height: 45px;
}

.dropdown{
  text-align: center;
}

.dropdown-item{
  display: flex;
  gap: 10px;
  font-weight: bold;
  color: rgba(0, 0, 0, .55);
  font-family: Arial, Helvetica, sans-serif;
  
  /* justify-content: start; */

}

.dropdown .btn{
  font-weight: 600;
  letter-spacing: .05em;
  font-family: Arial, Helvetica, sans-serif;
  color: ghostwhite;
}

.btn-success, .btn-danger{
  font-weight: bold;
  letter-spacing: .05em;
  font-family: Arial, Helvetica, sans-serif;
}

.user-image{
  width: 36px;
  height: 36px;
  border: 1px solid ghostwhite;
  border-radius: 50%;
  object-fit: contain;
  left: 0;
  position: relative;
  bottom: 6px;
  left: -6px;
  border: 1px solid black;
}

.userBtn{
  margin-left: 10px;
  background-color: ghostwhite;
  height: 37px;
  border: 1px solid rgb(34, 34, 34);
}

.userBtn::after {
  display: inline-block;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .5em solid rgb(24, 24, 24);
  border-right: .5em solid transparent;
  border-bottom: 0;
  border-left: .5em solid transparent;
}

@media(max-width: 1200px){
  .nav-item{
    text-align: center;
  }
}  
