:root{
  --lesson-border: 5px;
  --lesson-box-shadow:  0px 0px 10px rgba(0, 0, 0, 0.144);
  --lesson-width: 800px;
  --lesson-main-color: ghostwhite;
  --lesson-margin: 20px auto;
  --title-color:rgba(16, 131, 16, 0.705);
  --lesson-text-color: #404145;
  --font-weight-text: 600;
  --skel-load-color: rgba(128, 128, 128, 0.185);
}

html{
  overflow-x: hidden;
}

.plan{
  max-width: var(--lesson-width) !important;
  margin: var(--lesson-margin) !important;
  background-color: var(--lesson-main-color) ;
  border-radius: var(--lesson-border) ;
  box-shadow: var(--lesson-box-shadow);
  padding: 20px;
  overflow-x: hidden !important;
  font-size: 1.3rem;
  margin-bottom: 0px !important;
}

.bookmark-btn{
  position: absolute;
  border-radius: 50%;
  border: none;
  outline: none;
  padding: 7px 7px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.315);
  background-image: linear-gradient(90deg, rgb(233, 138, 50), rgb(226, 55, 226)); 
}

.bookmark-btn:active{
  box-shadow: inset 0px 10px 10px rgba(0, 0, 0, 0.233);
}

.bookmark-icon{
  width: 32px;
  height: 32px;
}

.back-btn{
  margin-top: 120px;
  border: none;
  background-color: ghostwhite;
  border-radius: 50px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.733);
  box-shadow:0px 0px 10px rgba(0, 0, 0, 0.178);
  transition: transform 0.3s ease; 
}

.back-btn:hover{
  transform: translateX(-5px);
  transition: .5s;
}

.make-this-sticky{
  position: sticky;
  top: 0;
  width: 185px;
  z-index: 99;
}

.container{
  position: relative;
}

.make-this{
  position: fixed;
  background-color: ghostwhite;
  min-width: 190px;
  padding: 10px;
}

.make-this p {
  font-weight: bold;
}

.sidebar{
  position: absolute;
  top: 120px;
  min-width: 195px;
  right: 0;
}

.active{
  font-size: 1.1rem;
  border-left: 5px solid rgb(59, 59, 59);
  font-weight: bolder;
  padding-left: 10px;
}

.make-this li {
 list-style: none;
}

.make-this a {
  text-decoration: none;
  width: 200px;
  color: black;
}

.make-this h2{
  font-size: 1.5rem;
  text-align: center;
}

.circle-time-text{
  margin: 0;
}

.circle-time{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-top: 10px;
  gap: 5px;
  font-weight: 400;
  font-weight: bold;
  font-size: 2rem;
}

.lesson-title{
  text-align: center;
  color: rgb(236, 81, 81);
  font-family: "Angkor", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
}

.lesson-level{
  text-align: center;
  margin: 0;
}

.line{
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.336);
  opacity: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.plan-icon{
  width: 35px;
  object-fit: cover;
}

.topic-text{
  text-align: center;
  margin: 0;
}

.time-text{
  margin: 0;
  text-align: center;
}

.materials-used{
  margin: 0;
  text-align: center;
}

.link-for-materials{
  color: rgb(71, 71, 216);
  font-weight: bold;
}

.full_lesson{
  line-height: 1.8em;
  color: rgb(14, 16, 26) !important;
}

.games-section{
  margin-top: 20px;
  /* this is the p tag styles for only the games and below */
  line-height: 1.8em;
  color: rgb(14, 16, 26) !important;
}

.youtube-link{
  width: 350px;
  height: 300px;
  border-radius: 20px;
}

.book-link-container{
  margin-top: 20px;
}

.flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

iframe{
  width: 350px;
  height: 300px;
  border-radius: 20px;
}

.worksheets{
  width: 100vw;
  min-height: 400px;
  background-color:ghostwhite;
  position: relative;
  border: 3px dashed rgba(0, 0, 0, 0.274);
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.worksheet{
  /* max-width: 630px;
  height: 290px; */
  width: 380px;
  height: 190px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.678);
  margin-bottom: 20px;
}

.worksheet_image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.worksheet a {
  text-decoration: none;
  font-size: 1.1rem;
}

.worksheet a:hover {
  text-decoration: underline;
}