.main{
  margin-top: 70px;
  background-color: ghostwhite;
  min-height: 90vh;
}

.material-top-tag{
  text-align: center;
  font-size: 2rem;
  text-decoration: underline;
}

.left-side{
  /* padding: 5px; */
  display: flex;
  flex-direction: column;
  min-width: 250px;
  gap: 20px;
}

.wrapper-for-materials{
  display: flex;
  padding: 10px;
}

.left-side button{
  padding: 10px;
  font-size: 1.2rem;
  border: none;
  display: flex;
  justify-content: start;
  gap: 20px;
}

.right-side{
  width: 100%;
  box-shadow: inset 0px 0px 3px rgba(36, 35, 35, 0.26);
  max-height: 80vh;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow-y: auto;
}

.plan{
  height: 100%;
  background-color: ghostwhite;
  border: 1px solid rgba(0, 0, 0, 0.445);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 4px;
  position: relative;
  justify-content: space-between;
}

.plan:hover{
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.288);
  transition: .1s ease;
}

.coverImage{
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
  width: 100%;
  object-fit: cover;
}

.title{
  text-align: center;
}

.saved-experiments{
  display: none;
}

.level{
  font-weight: 800;
  padding: 5px;
  text-align: center;
  color: rgba(0, 0, 0, 0.795);
  background-color: rgba(235, 61, 61, 0.288) !important;
  letter-spacing: .03em;
}

.plan-lock{
  width: 20px;
  object-fit: contain;
}

.btn-holder{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.plan-btn{
  border: none;
  background-color: ghostwhite;
  border-radius: 50px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.733);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.233);
  padding: 4px 20px;
}

.plan-btn:hover{
  background-color: rgb(240, 238, 238);
}

.lesson-link{
  text-decoration: none;
  color: black;
  width: 300px !important;
  height: 350px !important;
  /* box-shadow: 0px 0px 10px black; */
}

.active{
  background-color: rgb(236, 232, 232);
  outline: 2px dashed black !important;
  font-weight: bold;
}

.save_icon{
  width: 30px;
}

/* making one of 5 display none and hidding all but the active one triggered by the class */
.saved-worksheets{
  display: none;
  max-height: 80vh;
  overflow-y: auto;
}

.worksheet{
  width: 300px;
  height: 200px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.349);
  margin-bottom: 20px;  
  border-radius: 4px;
  position: relative;
}

.worksheet-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: none;
  outline: none;
  border-radius: 4px;
}

a{
  text-decoration: none;
}

a .worksheet:hover{
  text-decoration:underline;
}


/* load effect */

.worksheetLoad{
  background: linear-gradient(0.25turn, transparent, #fff, transparent),
    linear-gradient(#eee, #eee),
    radial-gradient(38px circle at 19px 19px, #eee 50%, transparent 51%),
    linear-gradient(#eee, #eee);
  background-repeat: no-repeat;
  background-position: -315px 0, 0 0, 0px 190px, 50px 195px;
  animation: loading 1.5s infinite;
  margin-bottom: 20px;
  box-shadow: none;
}

@keyframes loading {
  to {
    background-position: 315px 0, 0 0, 0 190px, 50px 195px;
  }
}

.textLoad {
  background: linear-gradient(0.25turn, transparent, #fff, transparent),
    linear-gradient(#eee, #eee),
    radial-gradient(38px circle at 19px 19px, #eee 50%, transparent 51%),
    linear-gradient(#eee, #eee);
  background-repeat: no-repeat;
  background-position: -315px 0, 0 0, 0px 190px, 50px 195px;
  animation: textLoad 1.5s infinite;
  color: transparent;
  display: inline-block; 
  border-radius: 4px;
  padding: 3px;
  margin-top: 5px;
}

@keyframes textLoad {
  to {
    background-position: 315px 0, 0 0, 0 190px, 50px 195px;
  }
}

.deletePlan{
  position: absolute;
  right: 0;
}

.icon-delete{
  width: 30px;
}

.delete-icon{
  width: 35px;
  object-fit: contain;
}



.delete_worksheet_btn {
  position: absolute;
  right: -20px;
  top: -20px;
  background-color: transparent;
  background-color: none;
  border: none;
  outline: none;
}

.delete_worksheet_btn:hover{
  background: rgba(240, 128, 128, 0.64);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.8px);
  -webkit-backdrop-filter: blur(1.8px);
  border: 1px solid rgba(240, 128, 128, 0.91);
}



.saved-games{
  display: none;
  max-height: 80vh;
  overflow-y: auto;
}


/* saved game  */
.game{
  border: 2px dashed rgba(0, 0, 0, 0.315);
  min-height: 350px;  
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 400px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.267);
  /*  */
  height: 500px;
  width: 400px;
  overflow-y: hidden;
  position: relative;
  cursor: pointer;
  transition: .5s;
}


.gameAdd{
  overflow-y: auto;
}

.game::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%; 
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  pointer-events: none; 
}

.saved-arts{
  display: none;
}

.seemorebtn{
  position: absolute;
  bottom: 45%;
  width: 50%;
  font-size: 1.5rem;
  display: none;
  border-radius: 50px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: rgb(44, 44, 44);
  color: ghostwhite;
}

.seemorebtn:hover{
  background-color: black;
}

.addtext{
  animation-name: textUp;
  animation-duration: .2s;
  animation-timing-function: linear;
  animation-fill-mode:forwards;
  display: block;
}

@keyframes textUp {
  from{
    bottom: 45%;
  }to{
    bottom: 50%;
  }
}

.btn-wrap{
  display: flex;
  justify-content: center;
  width: 100%;
}

.game.hide-overlay::after {
  opacity: 0; /* Hide the overlay */
}

.delete-game-btn{
  position: absolute;
  right: 5px;
  top: 5px;
  background-color: transparent;
  background-color: none;
  border: none;
  outline: none;
  padding: 0px;
}

.delete-experiment-btn{
  position: absolute;
  right: 5px;
  top: 5px;
  background-color: transparent;
  background-color: none;
  border: none;
  outline: none;
  padding: 0px;
}

.delete-experiment-btn:hover{
  background: rgba(22, 141, 211, 0.575);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border: 1px solid rgba(46, 163, 233, 1);
  border-bottom-left-radius: 10px;
}

.delete-game-btn:hover{
  /* background: linear-gradient(to bottom right, #EF4765, #FF9A5A); */
  background: rgba(22, 141, 211, 0.575);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border: 1px solid rgba(46, 163, 233, 1);
  border-bottom-left-radius: 10px;
}

.line{
  width: 100%;
  background-color: rgba(26, 25, 25, 0.144);
  margin-bottom: 10px;
  height: 1px ;
}

.top-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title{
  text-decoration: underline;
}


@media (max-height: 700px){
  .wrapper-for-materials{
    zoom: 0.7;
  }

  .game{
    zoom: 1;
  }

  .right-side{
    max-height: 100vh;
  }
  
}