body{
  background-color: antiquewhite;
}

.main{
  margin-top: 90px;
}

.user{
  border: 1px solid black;
  display: flex;
  padding: 10px;
  /* flex-direction: column; */
}

.image-edit{
  height: 150px;
  width: 150px;
  border: 1px solid black;
  border-radius: 50%;
  text-align: center;
  margin-bottom: 10px;
}

.account-top-tag{
  text-align: center;
  font-size: 2rem;
}

.wrapper{
  display: flex;
  align-items: center;
  gap: 10px;
}

.wrap{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.wrapper-for-both-input-blocks{
  width: 100%;
  margin-left: 20px;
}

.wrap input{
  font-size: 1.2rem;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid black;
  outline: none;
  /* box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.863); */
}

.wrap button{
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 200px;
}


